__pycache__/

client-simulation/build/
client-simulation/app/build/
new_webserver/asc_dl_backend/db.sqlite3

.gradle

build/

gradle-app.setting

!gradle-wrapper.jar

!gradle-wrapper.properties

.gradletasknamecache

.gradle/

**/.vscode/

**/venv/
*.so

local.properties

*.log

captures/
.externalNativeBuild/
.cxx/
*.apk
output.json

# IntelliJ
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

*.jks
*.keystore

google-services.json

*.hprof

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json